
.imagem1{
    float: left;
    width: 20%;
    display: inline-block;
    
}
.imagem2{
    
    width: 20%;
    display: inline-block;
}

.imagem3{
    width: 20%;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
}