
.imagem1{
    float: left;
    width: 20%;
    display: inline-block;
    
}
.imagem2{
    
    width: 20%;
    display: inline-block;
}

.imagem3{
    width: 20%;
    margin-left:auto;
    margin-right: auto;
    position: relative;
   
}

@media screen and (max-width: 1440px){
    .imagem1{
        float: right;
        width: 100%;
        height: 50%;
    }
    .imagem2{
        float: left;
        width: 100%;
        height: 50%;
        
    }
    .imagem3{
        float: left;
        width: 100%;
        height: 50%;
        
    }
}

@media screen and (max-width: 768px){
    .imagem1{
        float: right;
        width: 100%;
        height: 50%;

    }
    .imagem2{
        float: left;
        width: 100%;
        height: 50%;
    }
    .imagem3{
       position: absolute;
        left: 50%;
    }
}